body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*NAVIGATION*/

/*HEADER HOME*/
header.header-home {
	min-height: 600px;
	padding: 250px 0;
	height: 90vh;
	background: url('../images/start_back.jpg') center bottom no-repeat;
	background-size: 100% auto;
}

header a.btn {
	margin: 0 10px
}
@media (max-width: 767px) {
	header a.btn {
		margin-top: 10px;
		padding: 0.375rem 0.75rem;
		font-size: 1rem
	}
	header.header-home {
		padding: 150px 0;
	}
}

/*HEADER PAGE*/
header.header-page {
	padding: 150px 0 50px 0;
	background: url('../images/start_back.jpg') no-repeat;
}

@media (max-width: 767px) {
	header.header-page {
		padding: 100px 0 25px 0;
	}
	.header-page__heading{
		font-size: 2rem
	}
}

@media (max-width: 377px) {
	.header-page__heading{
		font-size: 1.5rem
	}
}

/*--> BREADCRUMBS*/

.de-student-breadcrumb{
	background-color: #e9ecef;
}

.de-student-breadcrumb ol{
	padding-left: 0;
}

.pay-block{
	border: #e3e3e3 1px solid;
	padding: 15px;
}

.step_circle{
	border: 1px solid #e3e3e3!important;
	border-radius: 0.25rem;
	padding-top: 20px;
	-ms-flex: 0 0 20%!important;
	flex: 0 0 20%!important;
}

@media (max-width: 767px) {
	.step_circle p{
		font-size: 0.7rem
	}
}

@media (max-width: 550px) {
	.step_circle h1{
		font-size: 2rem
	}
}

@media (max-width: 445px) {
	.step_circle{
		padding-top: 10px;
	}
	.step_circle p{
		font-size: 0.5rem
	}
}

@media (max-width: 325px) {
	.step_circle p{
		font-size: 0.45rem
	}
}

.step_circle.active{
	color: #007bff;
	border-color: #007bff!important;
}

.step_circle.passed{
	opacity: 0.6;
	/*color: #5bb85b;
	border-color: #5bb85b!important;*/
}

.step_circle_row{
	margin: 30px 0;
}


.service-list__container .card{
	margin: 20px 0;
}

.navbar__login b, .navbar__login .form-inline{
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.login-form__toggle{
	border-left: 1px solid #0062cc;
}